.base-area {
    border: 2px solid;
    padding: 1rem;
}

.container-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 57rem;
    padding: 1rem;
    margin: auto;
}

.container-base {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
}

.container-grid {
    display: grid;
    height: 100vh;
    grid-template-areas:
        "A B B"
        "C B B"
        "C D D";

    padding: 0.75rem;
    row-gap: 1rem;
    column-gap: 2rem;
    border: 1px solid brown;
}

@media (max-width: 1100px) {
    .container {
        display: flex;
        flex-direction: column;
    }
}