.card-base {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: var(--base-gray-100);
    border: 1px solid var(--base-gray-300);
    border-radius: 1rem;
    padding: 1rem;
}

.profile-card {
    display: flex;
    flex-direction: row;
    grid-area: A;
    gap: 1rem;

    .gradient {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2px;
        background: var(--gradient-base);
        border-radius: .625rem;
    }

    .shape {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 2px;
        background: var(--base-white);
        border-radius: .5rem;
    }

    img {
        height: 100%;
        object-fit: fill;
    }
}

.fidelity-card {
    grid-area: B;
}

.history-list {
    grid-area: C;
}


.gift-card {
    grid-area: D;

    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 1rem;
    /* border: 1px solid green; */

    .gift-card-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 1rem;
        /* border: 1px solid red; */
    }

    .gift-progress-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        /* border: 1px solid blue; */
    }

    .gift-progress {
        display: flex;
        background: var(--base-gray-300);
        width: 100%;
        height: .5rem;
        border-radius: 5px;
    }

    .gift-gauge {
        background: var(--gradient-base);
        width: 70%;
        height: .5rem;
        border-radius: 5px;
    }

    .gift-icon {
        display: flex;
        width: 4.5rem;
        height: 4.5rem;
        background: var(--base-gray-300);
        align-items: center;
        justify-content: center;
        border-radius: 50%;

        img {
            height: 100%;
            width: auto;
            object-fit: fill;
            margin-top: 1rem;
        }
    }

    .counter {
        display: flex;
        width: 5rem;
        justify-content: center;
    }
}